.outer-landing {
    width: 100vw;
    height: calc(100vh - 30px);
    position: relative;
    // overflow: hidden;
    @media (min-width: 769px) {
        height: calc(100vh - 60px);
    }
}

.inner-landing {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    // overflow: hidden;
    padding: 15px 15px 0px 15px;

    @media (min-width: 769px) {
        padding: 20px 20px 0px 20px;
    }
}



.landing-project {
    width: 100%;
    height: 100%;
    top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#newZealand-proj {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/NewZealand%2FHighRes%2FNZForWeb-1396.jpg?alt=media&token=d2d96472-e4c4-4f2f-8479-d92cd95e48d2');
}

#italy-proj {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FTreCime-7.jpg?alt=media&token=5b173139-78f2-4d8e-b79f-b36461065f56');
}

#sanDiego-proj {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FSanDiegoForWeb-3374.jpg?alt=media&token=456133f6-5487-4db5-b701-a2cba1f204ea');
}

#arizona-proj {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FSupai-3182.jpg?alt=media&token=2929c6f1-76f1-4ea0-ab49-d2c7e9c4cdb6');
}

.current {
    opacity: 100;
    display: block;
    transition: all .6s cubic-bezier(.89,.03,.47,.88);
    height: 100%;
    visibility: visible;
    z-index: 301;
}

.above {
    height: 0;
    visibility: hidden;
    transition: all .6s cubic-bezier(.89,.03,.47,.88);
    z-index: 300;
}

.below {
    height: 0;
    visibility: hidden;
    transition: all .6s cubic-bezier(.89,.03,.47,.88);
    z-index: 300;
}

.landing-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.project-title {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: titling-gothic-fb-extended;
    font-weight: 300;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    letter-spacing: .0rem;
    line-height: 6rem;
    align-self: center;
    text-align: center;
}

.project-subtitle {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: titling-gothic-fb-condensed;
    font-weight: 200;
    letter-spacing: .2rem;
    line-height: 2rem;
    margin-top: 1rem;
    align-self: center;
}
