$primaryColor: #24373b;
$secondaryColor: #b4D0d2;

$lightGrey: #f0f0f0;

$primaryFont: 'Big Shoulders Display', cursive;
// $secondaryFont: 

$secondaryFont: 'caslons-egyptian', sans-serif;

$NZImage: 'https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/NewZealand%2FHighRes%2FNZForWeb-1396.jpg?alt=media&token=d2d96472-e4c4-4f2f-8479-d92cd95e48d2';

$SDImage: 'https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FSanDiegoForWeb-3374.jpg?alt=media&token=456133f6-5487-4db5-b701-a2cba1f204ea';

$AZImage: 'https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FSupai-3182.jpg?alt=media&token=2929c6f1-76f1-4ea0-ab49-d2c7e9c4cdb6';

$ITImage: 'https://firebasestorage.googleapis.com/v0/b/photosite-csandlin.appspot.com/o/LandingPage%2FTreCime-7.jpg?alt=media&token=5b173139-78f2-4d8e-b79f-b36461065f56';

.TitlingGothicFB-Normal-Standard {

    font-family: titling-gothic-fb, sans-serif;

    font-weight: 400;

    font-style: normal;

}


.TitlingGothicFB-Normal-Bold {

    font-family: titling-gothic-fb, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Cond-Standard {

    font-family: titling-gothic-fb-condensed, sans-serif;

    font-weight: 200;

    font-style: normal;
}


.TitlingGothicFB-Cond-Bold {

    font-family: titling-gothic-fb-condensed, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Extended-Standard {

    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Extended-Bold {

    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Narrow-Standard {

    font-family: titling-gothic-fb-narrow, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Narrow-Bold {

    font-family: titling-gothic-fb-narrow, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Skyline-Standard {

    font-family: titling-gothic-fb-skyline, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Skyline-Bold {

    font-family: titling-gothic-fb-skyline, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Wide-Standard {

    font-family: titling-gothic-fb-wide, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.TitlingGothicFB-Wide-Bold {

    font-family: titling-gothic-fb-wide, sans-serif;

    font-weight: 700;

    font-style: normal;
}

.TitlingGothicFB-Extended-Reg {
    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 300;

    font-style: normal;
}

.TitlingGothicFB-Extended-Light {

    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 200;

    font-style: normal;
}

.P22-Underground-Light {

    font-family: p22-underground, sans-serif;

    font-weight: 300;

    font-style: normal;
}
