$primaryColor: #24373b;

$lightGrey: #f0f0f0;

$primaryFont: 'Big Shoulders Display', cursive;
// $secondaryFont: 

$secondaryFont: 'caslons-egyptian', sans-serif;

.TitlingGothicFB-Normal-Standard {

    font-family: titling-gothic-fb, sans-serif;

    font-weight: 400;

    font-style: normal;

}


.TitlingGothicFB-Normal-Bold {

    font-family: titling-gothic-fb, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Cond-Standard {

    font-family: titling-gothic-fb-condensed, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Cond-Bold {

    font-family: titling-gothic-fb-condensed, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Extended-Standard {

    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Extended-Bold {

    font-family: titling-gothic-fb-extended, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Narrow-Standard {

    font-family: titling-gothic-fb-narrow, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Narrow-Bold {

    font-family: titling-gothic-fb-narrow, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Skyline-Standard {

    font-family: titling-gothic-fb-skyline, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.TitlingGothicFB-Skyline-Bold {

    font-family: titling-gothic-fb-skyline, sans-serif;

    font-weight: 700;

    font-style: normal;
}


.TitlingGothicFB-Wide-Standard {

    font-family: titling-gothic-fb-wide, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.TitlingGothicFB-Wide-Bold {

    font-family: titling-gothic-fb-wide, sans-serif;

    font-weight: 700;

    font-style: normal;
}

