@import "../../styles/variables.scss";
/* EXAMPLE OF SASS: background-color: $lightGrey; */
/* MEDIA QUERIES: 576px, 768px, 992px, and 1200px; */

.topnav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 50px;
}


.mainLogo {
    width: 150px;
}

.topnav-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}

.topnav-links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}

.navlinks-desktop {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    @media (max-width: 768px) {
        display: none;
    }
}

.navlinks-desktop a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-family: $secondaryFont;
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.navlinks-mobile {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    @media (min-width: 769px) {
        display: none;
    }
}

.navlinks-mobile a {
    text-decoration: none;
    color: black;
    font-family: $secondaryFont;
    text-transform: uppercase;
}

a.mobileNav {
    font-family: $secondaryFont;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    color: black;
    line-height: 50px;
}

#navMenu {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: transparent;
    position: fixed;
    padding-top: 20vh;
    width:10%;
    height:100%;
    top: 0px;
    left: 50%;
    z-index:1000;
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#navMenu.active {
    opacity: 1;
    background-color: white;
    // padding-top: 20vh;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    transition: .1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

p#closeMenu {
    position: absolute;
    top: 3px;
    right: 30px;
}

.hamburger {
    position: absolute;
    top: 12px;
    right: 30px;
}
.dropdown {
    margin-top: -2px;
}
.dropdown-content-desktop {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    margin-top: 20px;
}

.dropdown-content-mobile {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16;
}

.showContent {
    display: flex;
    flex-direction: column;
    align-items: left;
}