@import "../../styles/variables.scss";
/* EXAMPLE OF SASS: background-color: $lightGrey; */
/* MEDIA QUERIES: 576px, 768px, 992px, and 1200px; */

.topnav {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 50px;
    z-index: 1000;

    @media (min-width: 768px) {
        margin-top: 20px;
    }
}


.mainLogo {
    width: 150px;
    margin-left: 25px;
    margin-top: 35px;
    fill: white;

    @media (min-width: 768px) {
        margin-left: 40px;
        margin-top: 10px;
    }
}

.topnav-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
}

.topnav-links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
}

.navlinks-desktop {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    @media (max-width: 768px) {
        display: none;
    }
}

.navlinks-desktop a {
    margin-right: 4rem;
    text-decoration: none;
    color: white;
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.navlinks-desktop a:hover {
    color: $secondaryColor;
}

.navlinks-mobile {
    display: block;
    @media (min-width: 769px) {
        display: none;
    }
}

.navlinks-mobile a {
    text-decoration: none;
    color: white;
    font-family: $secondaryFont;
    text-transform: uppercase;
}

.mobile-nav-div {
    text-align: right;
    margin-right: 20%;
    padding-top: 20px;
}

a.mobileNav, p.mobileNav {
    font-family: $secondaryFont;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.625);
    line-height: 50px;
}

#navMenu {
    opacity: 0;
    width: 0%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: $secondaryColor;
    z-index:1000;
    transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding-top: 10vh;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: hidden;
}

#navMenu.active {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

p#closeMenu {
    margin-top: 10px;
    position: absolute;
    top: 18px;
    right: 28px;
    color: white;
}

p#closeMenu:hover, p#closeMenu:focus {
    color: white;
}

.hamburger {
    position: absolute;
    top: 35px;
    right: 35px;
}
.dropdown {
  margin-top: -2px;
}


.dropdown-content-desktop {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    margin-left: -10px;
    z-index: 1000;
    padding: 8px;
    line-height: 20px;
    transition: 2s ease-in-out all;
    border-radius: 3px;
}

.dropdown-content-mobile {
    display: block;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.029);
    overflow-y: hidden;
    transition: 2s all;
}


.dropdown-content-mobile  a {
    color: rgb(123, 123, 123);
    display:inline-block;
    width: 100%;
    font-size: 15px;
}

.dropdown-content-mobile.showit a {
    display: block;
}

.dropdown:hover .dropdown-content-desktop {
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: 2s ease-in-out all;
}

.hover {
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: 2s ease-in-out;
}
